PG_VECTOR_COLLECTION_NAME=rag_desafio
OPENAI_API_KEY=#SUAKEY
OPENAI_MODEL=text-embedding-3-small
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@127.0.0.1:5433/rag_desafio
PGVECTOR_COLLECTION=rag_desafio